:root {
    --primary-color: #6FD6D9;
    --secondary-color: #06A2A5;
    --accent1-color: #A8B97F;
    --accent2-color: #545454;
}

header {
    display: grid; 
    grid-template-columns: 2fr auto 1fr;
    align-items: center; 
    padding: 20px; 
    width: 100%;
}

header img {
    width: 300px; 
    height: auto;
    margin-right: 30px; 
    margin-left: 30px;
    justify-self: center;
}

nav {
    display: flex;
    justify-content: center;
    grid-column: 2;
}

nav a {
    color: white; 
    text-decoration: none; 
    font-size:1.6rem;
    font-weight: bold;
    padding: 0 10px;
}

nav a:hover {
    color: var(--accent1-color); 
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff; 
    color: var(--accent2-color);
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Intro Rust', sans-serif; 
    color: var(--primary-color); 
}


a {
    color: var(--primary-color); 
    text-decoration: none;

}

header a {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

img {
    border-radius: 30px; 
    margin-bottom: 1rem; 
    max-width: 100%; 
    height: auto; 
}

.hero {
    position: relative; 
    margin: 0 20px;
    padding-top: 40px;
}

.hero img {
    display: block; 
    width: 100%;
    height: auto; 
    border-radius: 20px;
}

.hero h1 {
    position: absolute; 
    top: 20%; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 4rem; 
    color: white; 
    font-weight: bold;
}

.hero article {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    color: white;
    width: calc(100% - 60px);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero article img {
    margin-left: 15px;
    width: 120px;
    height: auto;
    flex-shrink: 0;
    margin-left: 20px; 
    order: 1; 
}

.history {
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    grid-template-rows: auto auto; 
    gap: 20px; 
    padding: 20px;
    align-items: center; 
}

.history h2 {
    grid-column: 1 / -1; 
    text-align: center;
    margin-bottom: 20px;
}

.history .left-text {
    text-align: justify;
    margin-right: 50px; 
    margin-left: 70px
}

.history .right-text {
    text-align: justify;
    margin-left: 50px; 
    margin-right: 70px
}

.history img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px; 
    justify-self: center; 

}

section {
    text-align: center;  
}

section h2 {
    font-family: 'Intro Rust', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;  
}


.images-container {
    display: flex;  
    justify-content: center;  

}


.images-container img {
    width: 200px;  
    height: auto;
    margin: auto;  
    margin-bottom: 40px;
    border-radius: 5px; 
}

footer {
    display: grid; 
    justify-content: center; 
    align-items: center; 
    grid-template-columns: 1fr auto 1fr; 
    background-color: var(--accent2-color);
    color: white;
    padding: 20px 0;
    width: 100%; 
}

footer p {
    grid-column: 2;
    text-align: center;
    margin: 0;
    flex-grow: 1; 
}

footer .social-media {
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 50px;
}
